CarChooser.AcceptanceTests/bin/**/
CarChooser.AcceptanceTests/bin/**/
CarChooser.AcceptanceTests/obj/**/
CarChooser.Data/bin/**/
CarChooser.Data/obj/**/
CarChooser.Domain/bin/**/
CarChooser.Domain/obj/**/
CarChooser.UnitTests/bin/**/
CarChooser.UnitTests/obj/**/
CarChooser.v12.suo
CarChooser/bin/**
DataImporter/obj/
DataImporter/bin/Debug/CarData.db
packages/
CarChooser/obj/
fuzzy.txt
DataImporter/bin/**/
CarChooser.Database/bin/
CarChooser.Database/obj/Debug/CarChooser.Database.csproj.FileListAbsolute.txt
DataMigrator/bin/
DataMigrator/obj/
*.vspx
*.psess
