@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "Blog about helping you choose your next used or new car";
    ViewBag.Title = "Blog articles to help you choose your next use or new car";
}


    <div class="container" style="padding-top: 100px">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 blogPost">
                <article>
                    <h2>The motivation for helpchoose.co.uk</h2>

                    <p>
                        I’m a car nerd and so I get asked quite a lot for help choosing a car. I also offer my opinion when it’s not even asked for. Friends and family ask me to recommend a car based on very loose requirements. So my father asked, I want a <a href="/Volkswagen/Golf_Hatchback/1.2_TSI_(105bhp)_Bluemotion_Tech_S_3d/2013/45234#choose">VW Golf</a> but not a Golf (as he already had a Golf). I asked him a few questions like:
                    </p>
                    <ul>
                        <li>Why don’t you want a <a href="/Mazda/MX-5/2.0i_SE_(Air_Con)_2d/2005/20809#choose">Mazda MX-5</a>?</li>
                        <li>Ok, but do you not want something a bit more fun?</li>
                        <li>Oh, so you want something practical? Like a van?</li>
                        <li>Right, a van is too big and not very comfortable, how about a <a href="Lexus/NX/200t_2.0_F-Sport_(Nav%5D)_5d_Auto/2014/20267#choose">Lexus NX</a> then?</li>
                        <li>Ok, smaller than an SUV but practical, how about an estate? <a href="/Jaguar/XF_Sportbrake/3.0d_V6_Luxury_5d_Auto/2012/18542#choose">Jaguar XF Sportbrake</a> is nice?</li>
                        <li>Too expensive eh? </li>

                    </ul>
                    <p>
                        And so it went on. Everything I suggested wasn’t quite what he was looking for, maybe because comparing anything with a VW Golf is a tough comparison. I even tried to convince him to just get another Golf or a <a href="/SEAT/Leon_Hatchback/1.2_TSI_(110bhp)_S_5d/2013/36226#choose">Seat Leon</a>, <a href="/Skoda/Octavia_Hatchback/1.2_TSI_S_5d/2013/3425#choose">Skoda Octavia….</a> He almost bit at an <a href="/Audi/A3_Hatchback/1.2_TFSI_(110bhp)_S_Line_3d/2012/5322#choose">Audi A3</a> until he realised how much more expensive it was and actually no better than… yep… his Golf.
                    </p>
                    <p>
                        So the inspiration for this site was to help someone narrow down to the car that’s ‘just right’ by showing lots of alternatives and using the responses to tailor the suggestions. Hopefully, if we can get the maths right then it’ll soon ‘understand’ what you like and dislike and converge on the perfect car for you.
                    </p>
                    <p>
                        If you’re wondering, my father ended up choosing a <a href="/Volvo/V40_Hatchback/D2_SE_5d/2012/4370#choose">Volvo V40</a> – one of my many, many, suggestions but the one that seemed to tick all his boxes and wasn’t too different from his Golf!
                    </p>
                    <p>
                        Funnily enough, the suggestion engine didn’t even suggest the V40 as likeable alternative for Golf owners as the performance of the D2 was outside the bounds of the algorithm (i.e. it thought the Volvo was just too slow compared to a Golf 2.0 TDi). My father shared the same concerns about performance but figured he could live with it. It goes to show that the suggestion engine isn’t quite there yet and has some room for improvement.
                    </p>

                </article>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 blogPost">
                <article>
                    <h2>What does your car say about you?</h2>
                    <p>
                        Aside from the size of a man’s thingy, some people have a tendency to judge you by the car you drive. This stereotyping in any other aspect of life wouldn’t be acceptable but we seem ok with it when it comes to cars.
                    </p>
                    <p>
                        Some cars are more aggressive in appearance but if you buy one does that make you aggressive or are you compensating for a lack of aggression?
                    </p>
                    <p>
                        Likewise, some cars are considered more feminine but plenty of men still buy them. What makes a car seem feminine and therefore not an option for a ‘real man’? Some believe it’s the appearance of the car, others argue it’s about the handling and performance.
                    </p>
                    <p>
                        If you rate a car on helpchoose.co.uk one of the options is ‘girliness’. Now, this isn’t the website or authors being sexist, its to reflect that people genuinely judge a car by this aspect. When the site has enough ratings it will be of great interest to see if this is a factor that does cause someone to choose one car over another.
                    </p>
                    <p>
                        So how would you judge someone driving these cars?
                    </p>
                    <ul>
                        <li><a href="/Nissan/Micra_Hatchback/1.2_30_5d/2010/2627#choose">Nissan Micra</a></li>
                        <li><a href="/Bentley/Continental_Flying_Spur/6.0_W12_4d_Auto/2005/366#choose">Bently Continental</a></li>
                        <li><a href="/BMW/6-Series_Coupé/640d_M_Sport_2d_Auto/2011/10881#choose">BMW 6 Series</a></li>
                        <li><a href="/BMW/X5_4x4/sDrive25d_M_Sport_(7_Seat)_5d_Auto/2013/11398#choose">BMW X5</a></li>
                        <li><a href="/Alfa_Romeo/Brera/1.75_TBi_3d/2006/34#choose">Alfa Romeo Brera</a></li>
                        <li><a href="/Volkswagen/Beetle_Hatchback/1.2_TSI_Design_3d_DSG/2012/4042#choose">VW Beetle</a></li>
                        <li><a href="/Jaguar/XF_Saloon/3.0d_V6_S_Premium_Luxury_4d_Auto/2008/18519#choose">Jaguar XF</a></li>
                        <li><a href="/Ford/Focus_Hatchback/1.5_TDCi_(105bhp)_Style_ECOnetic_5d/2011/14993#choose">Ford Focus</a></li>
                        <li><a href="/MINI/Hatchback/1.2_One_Hatchback_(Media_Pack_XL)_3d/2014/26559#choose">Mini</a></li>
                        <li><a href="/Kia/Picanto/1.0_1_(04/15-)_3d/2011/19146#choose">Kia Picanto</a></li>
                        <li><a href="/Porsche/911_Turbo/911_(991)_Turbo_Cabriolet_2d_PDK/2013/31335#choose">Porsche 911 Turbo</a>c</li>
                        <li><a href="/Toyota/Prius_Hatchback/1.5_VVTi_LE_5d_CVT_Auto/2009/3839#choose">Toyota Prius</a></li>
                        <li><a href="/Volvo/V40_Hatchback/D2_ES_5d/2012/4368#choose">Volvo V40</a></li>
                    </ul>
                    <p>
                        If you refused to judge then congratulations (do you drive a <a href="/Saab/9-5_Saloon/2.0_TTiD_XWD_Vector_SE_(Nav)_4d/2010/35663#choose">Saab</a> by any chance?)

                    </p>

                </article>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 blogPost">
                <article>
                    <h2>Choosing a car for winter</h2>

                    <p>
                        I know summer is barely over yet but are you already starting to think about the upcoming winter? If you believe the Daily Express then winter will signal the end of the world as we know it and the start of a new ice age.
                    </p>

                    <p>
                        Having owned a <a href="BMW/3-Series_Touring/320d_BluePerform_EffDyn_(Business_Media)_5d_Step_Auto/2012/8760#choose">BMW 320d</a> in the past, winter used to put the fear of god in me.
                        The slightest bit of snow or ice would render the car useless. It would slip off the driveway, refuse to move any further and be abandoned whilst I rushed to the train station.
 Completely paranoid about being trapped without a car, I did a complete u-turn and bought an <a href="/Audi/A5_Coupé/1.8T_FSI_(160bhp)_Black_Edition_2d/2007/225#choose">Audi A5 Quattro</a>. I can now laugh at the mere suggestion of the country coming to a standstill with the knowledge my 4 wheel drive car will continue to move, even if it’s straight into a hedge.
                    </p>
                    <p>
                        I know everyone witters on about winter tyres being the solution but it’s just not. We can go years without seeing snow in this country and even when it does come, it rarely lasts longer than a day. So who is going to invest in another set of tyres and storing them for the other 364 days of the year? If you have the money and the space then great, winter tyres will be significantly safer during the winter months but there are few people that can afford that luxury
                    </p>
                    <p>
                        So here’s a few suggestions for cars that will see you safe through winter.
                    </p>
                    <ul>
                        <li><a href="/Audi/A5_Coupé/1.8T_FSI_(160bhp)_Black_Edition_2d/2007/225#choose">Audi A5 Quattro</a></li>
                        <li><a href="/BMW/3-Series_Saloon/320d_xDrive_Sport_4d/2012/8294#choose">BMW 3 Series xDrive</a></li>
                        <li><a href="/Honda/CR-V/1.6_i-DTEC_EX_(DASP)_5d/2012/17517#choose">Honda CRV</a></li>
                        <li><a href="/Land_Rover/Discovery/2.7_Td_V6_GS_5d/2004/19480#choose">Land Rover Discovery</a></li>
                        <li><a href="/Subaru/Impreza_STi/2.5_WRX_STI_5d/2008/3622#choose">Subaru Impreza STi</a></li>
                        <li><a href="/Skoda/Yeti/1.2_TSI_E_5d/2009/3476#choose">Skoda Yeti</a></li>
                        <li><a href="/Suzuki/SX4_S-Cross/1.6_DDiS_SZ-T_5d/2013/38146#choose">Suzuki SX4 S-Cross</a></li>
                        <li><a href="/Fiat/Panda_4x4/0.9_TwinAir_(85bhp)_4X4_5d/2012/13889#choose">Fiat Panda 4x4</a></li>
                        <li><a href="/Audi/A4_Allroad/2.0_TDI_Quattro_(170bhp)_5d/2009/5851#choose">Audi A4 Allroad</a></li>
                        <li><a href="/Mazda/CX-5/2.0_SE-L_5d/2012/2101#choose">Mazda CX5</a></li>
                        <li><a href="/Lexus/NX/200t_2.0_F-Sport_(Nav%5D)_5d_Auto/2014/20267#choose">Lexus NX</a></li>

                    </ul>
                    <p>If none of those float your boat then why not start with the closest and use helpchoose.co.uk to suggest some alternatives?</p>

                </article>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 blogPost">
                <article>
                    <h2>Best family car</h2>
                </article>
                <p>
                    I’m a family man with 2 small children and a drive an <a href="/Audi/A5_Coupé/1.8T_FSI_(160bhp)_Black_Edition_2d/2007/225#choose">Audi A5 3.0 TDi Quattro</a>. I can fit the entire family in the car almost comfortably and have room in the boot for some sweets. I love the Audi, it’s powerful, sure footed, comfortable and good looking. I can get 40mpg on the daily commute despite its silky smooth V6 diesel engine. Would I recommend it as a great family car? Hell no.
                </p>
                <p>
                    My wife on the other hand drives a <a href="/Honda/CR-V/2.2_i-DTEC_SE_5d/2007/17525#choose">2007 Honda CR-V</a>, a car I wouldn’t hesitate to recommend for a family. It was relatively cheap to buy, hasn’t let us down (yet), looks and drives ‘ok’ and is beyond practical.
                </p>
                <p>
                    Buying a Honda CR-V is easy since there’s loads of them about. You can afford to be fussy about colour, engine, spec and price. The top of the range EX is obviously the nicest model, complete with Sat Nav, sunshine roof, leather, big alloys…. But the best buy is the middle spec ES as it adds privacy glass, air conditioning and parking sensors over the base SE model. Sadly it still doesn’t offer automatic headlights and wipers which is my biggest gripe about this car. Having become reliant on automatic lights I frequently find myself driving with no lights on.
                </p>
                <p>
                    The car feels safe, it’s predictable and easy to drive. It’s very well ‘car-like’. The engine note is a bit on the agricultural side but its reasonable quiet at speed and the kids are quite capable of drowning out any irritating engine noise.
                </p>
                <p>
                    Practicality is why you buy a car like the CRV. The boot is epic and the rear seats slide and go flat independently meaning you can choose between more leg room or more boot space. Even with the rear seats fully forward, there’s heaps of legroom for adults. The finish inside isn’t particularly luxurious but that’s great when it spends most its time being battered by small children. Importantly, it all wipes clean easily.
                </p>
                <p>
                    Despite its size and that it spends most of its time running around locally to schools, shops and swimming it gives us an average of 35mpg.
                </p>
                <p>
                    It’s 4 wheel drive too, unlike a lot of popular SUVs which means even come the snow, the CRV keeps going.
                </p>
                <p>
                    When it comes to replace the car next year, I’ll want a <a href="/Lexus/NX/200t_2.0_F-Sport_(Nav%5D)_5d_Auto/2014/20267#choose">Lexus NX</a> or a <a href="/Land_Rover/Discovery_Sport/2.2_SD4_HSE_5d/2015/1760#choose">Land Rover Discovery Sport</a> but frankly the kids will destroy it in days, so I’ll probably just buy another cheap CR-V.
                </p>
                <p>
                    If the CR-V isn’t for you, how about one of these:
                </p>
                <ul>
                    <li><a href="/Nissan/Qashqai/1.2_DiG-T_Acenta_(Smart_Vision_Pack)_5d/2014/28405#choose">Nissan Qashqai</a></li>
                    <li><a href="/Volvo/XC90/2.0_D5_First_Edition_AWD_5d_Geartronic/2015/4401#choose">Volvo XC90</a></li>
                    <li><a href="/BMW/X5_4x4/sDrive25d_M_Sport_(7_Seat)_5d_Auto/2013/11398#choose">BMW X5</a></li>
                    <li><a href="/Skoda/Yeti/1.2_TSI_E_5d/2009/3476#choose">Skoda Yeti</a></li>
                    <li><a href="/Skoda/Octavia_Estate/1.2_TSI_S_5d/2013/3412#choose">Skoda Octavia Estate</a></li>
                    <li><a href="/Ford/S-MAX/1.5_EcoBoost_Titanium_(X_Pack)_5d/2015/16725#choose">Ford S-Max</a></li>
                    <li><a href="/Land_Rover/Discovery/3.0_SDV6_GS_5d_Auto/2004/19483#choose">Land Rover Discovery</a></li>
                    <li><a href="/Dacia/Duster_Estate/1.5_dCi_(110bhp)_Ambiance_(09/14-)_5d/2013/13184#choose">Dacia Duster</a></li>

                </ul>
                <p>
                    Still no good? Start with one in helpchoose.co.uk and see what it suggests.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 blogPost">
                <article>
                    <h2>Just browing for a car</h2>

                    <p>
                        For those that just like to browse, I've added a new section which lets you choose a car manufacturer and then see it's main models.
                    </p>
                    <p>
                        One of the complexities with this website and indeed with choosing a car is the number of derivatives of a particular car model.
                        For example, <a href="/manufacturer/bmw">BMW</a> has over 5000 different derivatives. By derivative we mean a specific type of model. So we may have a 3-series Saloon (a model)
                        and that can have a number of derivatives such as 320d, 318i or a 320d xDrive.
                    </p>
                    <p>
                        We chose to serve up derivatives on the site rather than keeping it to a specific model and this was a difficult choice. On the one hand it makes it complicated to manage all
                        that extra data about each derivative and makes it more complex for the user to understand why the site has just seemingly shown the exact same model as one you've already liked/disliked. On the other hand it means
                        the site can still show you a <a href="/BMW/3-Series_Saloon/330d_BluePer_xDrive_Luxury_(Business_Media)_4d_Step_Auto/2012/8225#choose">BMW 330d</a> despite you disliking a <a href="/BMW/3-Series_Saloon/316d_ES_(Business_Media)_4d/2012/7980#choose">BMW 316d</a>.
                        What's even more confusing is the site doesn't have enough images of different derivatives yet so the 2 cars in this case have the same photo (I'm working on that!). Check out the figures on the left though and you'll see they're very different
                        cars, appealing to very different people!
                    </p>
                    <p>
                        Let me know if you like the new feature or if I've just wasted my time!
                    </p>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 blogPost">
                <article>
                    <h2>Best First Car?</h2>

                    <p>
                        You've just got your drivers license and you're ready to buy a car and gain that freedom you've been seeking. What are the perils of choosing your first car?
                    </p>
                    <p>
                        Number one issue is insurance. As a young driver you're looking at spending £1000's on your first insurance policy. There's a very strong chance, you'll actually
                        pay more for your policy than you will the actual car. Some insurers won't even offer you a quote because frankly you're just too risky.
                        Naturally you think you're the best driver that graced the roads but, even if that's true, you're going to have to stump up a lot of money as the Insurers aren't
                        prepared to trust you just yet.
                    </p>
                    <p>
                        So unfortunately, you're going to be looking at cars which you can insure and that means you can probably forget about anything big, fast, luxurious, fun.... yep,
                        you're going to be getting something that's in insurance group 1 or 2. The good news is there's plenty of choices and some pretty good options. Maybe start with the <a href="/Volkswagen/Up/1.0+BlueMotion+Tech+High+Up+3d/2012/47132#choose">Volkswagen Up
                        </a>
                        and see where the recommendation engine takes you.
                    </p>
                    <p>
                        If you're still struggling to find an affordable insurance quote it might be wise to build up some experience first. If you're not the main user of the car and just
                        use it occassionally then you can be added to your parents policy, usually for much cheaper than having your own. However, be warned, if you are the main driver, this is illegal. Furthermore
for each year you're on somebody elses policy, you're not building up your own no claims bonus.
                    </p>
                </article>
            </div>
        </div>
    </div>
