   <div class="row">
            <div class="col-md-8 col-md-offset-2 blogPost">
                <article>
                    <h1>What does your car say about you?</h1>
                    <p>
                        Aside from the size of a man’s thingy, some people have a tendency to judge you by the car you drive.  This stereotyping in any other aspect of life wouldn’t be acceptable but we seem ok with it when it comes to cars.
                    </p>
                    <p>
                        Some cars are more aggressive in appearance but if you buy one does that make you aggressive or are you compensating for a lack of aggression?
                    </p>
                    <p>
                        Likewise, some cars are considered more feminine but plenty of men still buy them.  What makes a car seem feminine and therefore not an option for a ‘real man’?  Some believe it’s the appearance of the car, others argue it’s about the handling and performance.
                    </p>
                    <p>
                        If you rate a car on Goldilocker one of the options is ‘girliness’.  Now, this isn’t the website or authors being sexist, its to reflect that people genuinely judge a car by this aspect.  When the site has enough ratings it will be of great interest to see if this is a factor that does cause someone to choose one car over another. 
                    </p>
                    <p>
                        So how would you judge someone driving these cars?
                    </p>
                    <ul>
                        <li><a href="/Nissan/Micra_Hatchback/1.2_30_5d/2010/2627">Nissan Micra</a></li>
                        <li><a href="/Toyota/Yaris/1.0_VVT-i_Active_(07/14-)_3d/2011/39664">Toyota Yaris</a></li>
                        <li><a href="/Bentley/Continental_Flying_Spur/6.0_W12_4d_Auto/2005/366">Bently Continental</a></li>
                        <li><a href="/BMW/6-Series_Coupé/640d_M_Sport_2d_Auto/2011/10881">BMW 6 Series</a></li>
                        <li><a href="/BMW/X5_4x4/sDrive25d_M_Sport_(7_Seat)_5d_Auto/2013/11398">BMW X5</a></li>
                        <li><a href="/Alfa_Romeo/Brera/1.75_TBi_3d/2006/34">Alfa Romeo Brera</a></li>
                        <li><a href="/Volkswagen/Beetle_Hatchback/1.2_TSI_Design_3d_DSG/2012/4042">VW Beetle</a></li>
                        <li><a href="/Jaguar/XF_Saloon/3.0d_V6_S_Premium_Luxury_4d_Auto/2008/18519">Jaguar XF</a></li>
                        <li><a href="/Ford/Focus_Hatchback/1.5_TDCi_(105bhp)_Style_ECOnetic_5d/2011/14993">Ford Focus</a></li>
                        <li><a href="/MINI/Hatchback/1.2_One_Hatchback_(Media_Pack_XL)_3d/2014/26559">Mini</a></li>
                        <li><a href="/Kia/Picanto/1.0_1_(04/15-)_3d/2011/19146">Kia Picanto</a></li>
                        <li><a href="/Porsche/911_Turbo/911_(991)_Turbo_Cabriolet_2d_PDK/2013/31335">Porsche 911 Turbo</a>c</li>
                        <li><a href="/Toyota/Prius_Hatchback/1.5_VVTi_LE_5d_CVT_Auto/2009/3839">Toyota Prius</a></li>
                        <li><a href="/Volvo/V40_Hatchback/D2_ES_5d/2012/4368">Volvo V40</a></li>
                    </ul>
                    <p>
                        If you refused to judge then congratulations (do you drive a <a href="/Saab/9-5_Saloon/2.0_TTiD_XWD_Vector_SE_(Nav)_4d/2010/35663">Saab</a> by any chance?)

                    </p>
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES * * */
                        var disqus_shortname = 'goldilocker';
                        var disqus_identifier = 'whatacarsaysaboutyou-4745626';
                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function () {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                </article>
            </div>
        </div>