<div class="row">
            <div class="col-md-8 col-md-offset-2 blogPost">
                <article>
                    <h1>The motivation for Goldilocker</h1>

                    <p>
                        I’m a car nerd and so I get asked quite a lot for help choosing a car. I also offer my opinion when it’s not even asked for. Friends and family ask me to recommend a car based on very loose requirements. So my father asked, I want a VW Golf but not a Golf (as he already had a Golf). I asked him a few questions like:
                    </p>
                    <ul>
                        <li>Why don’t you want a Mazda MX-5?</li>
                        <li>Ok, but do you not want something a bit more fun?</li>
                        <li>Oh, so you want something practical? Like a van?</li>
                        <li>Right, a van is too big and not very comfortable, how about a <a href="Lexus/NX/200t_2.0_F-Sport_(Nav%5D)_5d_Auto/2014/20267">Lexus NX</a> then?</li>
                        <li>Ok, smaller than an SUV but practical, how about an estate? <a href="/Jaguar/XF_Sportbrake/3.0d_V6_Luxury_5d_Auto/2012/18542">Jaguar XF Sportbrake</a> is nice?</li>
                        <li>Too expensive eh? </li>

                    </ul>
                    <p>
                        And so it went on. Everything I suggested wasn’t quite what he was looking for, maybe because comparing anything with a VW Golf is a tough comparison. I even tried to convince him to just get another Golf or a Seat Leon, Skoda Octavia…. He almost bit at an Audi A3 until he realised how much more expensive it was and actually no better than… yep… his Golf.
                    </p>
                    <p>
                        So the inspiration for Goldilocker was to help someone narrow down to the car that’s ‘just right’ by showing lots of alternatives and using the responses to tailor the suggestions. Hopefully, if we can get the maths right then it’ll soon ‘understand’ what you like and dislike and converge on the perfect car for you.
                    </p>
                    <p>
                        If you’re wondering, my father ended up choosing a <a href="/Volvo/V40_Hatchback/D2_SE_5d/2012/4370">Volvo V40</a> – one of my many, many, suggestions but the one that seemed to tick all his boxes and wasn’t too different from his Golf!
                    </p>
                    <p>
                        Funnily enough, Goldilocker didn’t even suggest the V40 as likeable alternative for Golf owners as the performance of the D2 was outside the bounds of the algorithm (i.e. it thought the Volvo was just too slow compared to a Golf 2.0 TDi). My father shared the same concerns about performance but figured he could live with it. It goes to show that Goldilocker isn’t quite there yet and has some room for improvement.
                    </p>

                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES * * */
                        var disqus_shortname = 'goldilocker';
                        var disqus_identifier = 'motiviationforgoldilocker-23479643';
                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function () {
                            var dsq = document.createElement('script');
                            dsq.type = 'text/javascript';
                            dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                </article>
            </div>
        </div>