@using CarChooser.Web.Models
@model SearchResultVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model));
    var searchUrl = '@Url.Action("Post", "Home")';
    myApp.value("viewModel", model);
    myApp.value("searchUrl", searchUrl);
</script>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Goldilocker</h1>
                    <p class="intro-text">the new way to choose a car that's just right for you</p>
                    <p class="intro-text">our system recommends and learns from those who use it</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About Section -->

<section ng-controller="mainController" id="about" class="container content-section text-center" style="padding: 50px;">
    <div class="row">
        <div class="col-lg-12 bgimage" style="background-repeat: no-repeat;" ng-style="{'background-image': 'url('+viewModel.CurrentCar.Image+')', 'background-repeat' : 'no-repeat'}">
            <div class="carHeader">
                <div class="text-primary currentCar">
                    {{viewModel.CurrentCar.Manufacturer}} {{viewModel.CurrentCar.Model}} {{viewModel.CurrentCar.Derivative}} ({{viewModel.CurrentCar.YearFrom}})
                </div>
            </div>
            <div class="pull-left performance">
                <table>
                    <tr>
                        <td class="text-left">0-60</td>
                        <td class="text-right">{{viewModel.CurrentCar.Acceleration}}s</td>
                    </tr>
                    <tr>
                        <td class="text-left">Top Speed</td>
                        <td class="text-right">{{viewModel.CurrentCar.TopSpeed}}mph</td>
                    </tr>
                    <tr>
                        <td class="text-left">Power</td>
                        <td class="text-right">{{viewModel.CurrentCar.Power}}bhp</td>
                    </tr>
                    <tr>
                        <td class="text-left">Insurance</td>
                        <td class="text-right">{{viewModel.CurrentCar.InsuranceGroup}}</td>
                    </tr>

                </table>
            </div>
            <div class="pull-right">
                <button class="btn btn-circle btn-circle-like" ng-click="viewModel.ShowDislike=false;submitRejection('like')"><i class="glyphicon glyphicon-thumbs-up"></i>like</button>
            </div>
            <div class="pull-right">
                <button class="btn btn-circle btn-circle-dislike" ng-click="viewModel.ShowDislike=!viewModel.ShowDislike"><i class="glyphicon glyphicon-thumbs-down"></i>dislike</button>
            </div>

            <div class="bg-dislike row col-lg-12 text-center" ng-show="viewModel.ShowDislike">
                <div class="col-lg-2" ng-repeat="reason in viewModel.RejectionReasons">
                    <button class="btn btn-circle btn-circle-lg" ng-click="submitRejection(reason)">{{reason | enum}}</button>
                </div>
            </div>
            <div class="bgimage-inside"></div>
        </div>
    </div>
</section>

<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact me</h2>
            <p>Feel free to email us to provide some feedback, give us suggestions, or to just say hello!</p>
            <p>
                <a href="mailto:enquiry@mawbusinesssolutions.co.uk">enquiry@mawbusinesssolutions.co.uk</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/mawste" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a>
                </li>

                <li>
                    <a href="https://plus.google.com/112151541140544832241/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i><span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>





