@using CarChooser.Web.Models
@model SearchResultVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model));
    var searchUrl = '@Url.Action("Post", "Home")';
    myApp.value("viewModel", model);
    myApp.value("searchUrl", searchUrl);
</script>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1><img alt="Goldilocker" src="/Content/img/logo-transparent.png"/></h1>
          @*          <h1 class="brand-heading">Goldilocker</h1>*@
                    <p class="intro-text">the new way to choose a car that's just right for you</p>
                    <p class="intro-text">our system recommends and learns from your choices</p>
                    <a href="#choose" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About Section -->
<div ng-controller="mainController">

    <section id="choose" class="container content-section text-center" style="padding: 50px;">
        <div class="row" ng-show="Finished">
            <p>We don't think you'll like anything else so it's time to move to the comparison bit</p>
            <a href="#compare" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
        <div class="row" ng-show="!Finished">
            <div class="carHeader visible-xs">
                    <div class="text-primary currentCar">
                        {{viewModel.CurrentCar.FullName}}
                    </div>
                </div>
            <div class="col-lg-12 bgimage" style="background-repeat: no-repeat;" ng-style="{'background-image': 'url('+viewModel.CurrentCar.Image+')', 'background-repeat' : 'no-repeat'}">
                <div class="carHeader hidden-xs">
                    <div class="text-primary currentCar">
                        {{viewModel.CurrentCar.FullName}}
                    </div>
                </div>
                <div class="hidden-xs pull-left performance">
                    <a style="padding: 10px" class="pull-right" ng-show="!showFigures" ng-click="showFigures = true">view info <i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a class="pull-right" ng-show="showFigures" ng-click="showFigures = false; showReviews = false;"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <table ng-show="showFigures">
                        <tr>
                            <td class="text-left">Price</td>
                            <td class="text-right" ng-show="viewModel.CurrentCar.Price > 0">{{viewModel.CurrentCar.Price | currency : "£" : 0}}</td>
                        </tr>
                        <tr>
                            <td class="text-left">0-60</td>
                            <td class="text-right">{{viewModel.CurrentCar.Acceleration}} secs</td>
                        </tr>
                        <tr>
                            <td class="text-left">Top Speed</td>
                            <td class="text-right">{{viewModel.CurrentCar.TopSpeed}} mph</td>
                        </tr>
                        <tr>
                            <td class="text-left">Power</td>
                            <td class="text-right">{{viewModel.CurrentCar.Power}} bhp</td>
                        </tr>
                        <tr>
                            <td class="text-left">Insurance</td>
                            <td class="text-right">{{viewModel.CurrentCar.InsuranceGroup}}</td>
                        </tr>
                        <tr>
                            <td class="text-left">Mpg</td>
                            <td class="text-right">{{viewModel.CurrentCar.Mpg}} mpg</td>
                        </tr>
                        <tr>
                            <td class="text-left">Ratings</td>
                            <td class="text-right">
                                <a ng-click="showReviews = !showReviews">View<i class="glyphicon glyphicon-chevron-right"></i></a></td>
                        </tr>
                        <tr>
                            <td class="text-left">Read more</td>
                            <td class="text-right"><a href="{{viewModel.CurrentCar.ReviewPage}}" target="_blank">Parkers</a></td>
                        </tr>
                    </table>

                </div>
                <div ng-show="showReviews" class="pull-left performance">
                    <table>
                        <tr ng-repeat="rating in viewModel.CurrentCar.Ratings">
                            <td class="pull-left">{{rating.Category}}</td>
                            <td class="text-right">{{rating.Score}}</td>
                        </tr>
                    </table>
                </div>
                <div class="hidden-xs pull-right">
                    <button class="btn btn-circle btn-circle-like" ng-click="submitRejection('like')">
                        <i class="glyphicon glyphicon-thumbs-up"></i>
                        <br />
                        like</button>
                </div>
                <div class="hidden-xs pull-right">
                    <button class="btn btn-circle btn-circle-dislike" ng-click="submitRejection('TooCommon')">
                        <i class="glyphicon glyphicon-thumbs-down"></i>
                        <br />
                        dislike</button>
                </div>

                <div class="hidden-xs bottom-align-text" ng-show="viewModel.Likes.length > 1">
                    <button class="btn btn-circle btn-circle-compare page-scroll" href="#compare">
                        Compare<br />
                        <i class="fa fa-angle-double-down animated"></i>
                    </button>
                </div>
                <div class="bgimage-inside"></div>
            </div>
            <div class="visible-xs pull-right">
                    <button class="btn btn-circle btn-circle-like" ng-click="submitRejection('like')">
                        <i class="glyphicon glyphicon-thumbs-up"></i>
                        <br />
                        like</button>
                </div>
                <div class="visible-xs pull-right">
                    <button class="btn btn-circle btn-circle-dislike" ng-click="submitRejection('TooCommon')">
                        <i class="glyphicon glyphicon-thumbs-down"></i>
                        <br />
                        dislike</button>
                </div>

                <div class="visible-xs" ng-show="viewModel.Likes.length > 1">
                    <button class="btn btn-circle btn-circle-compare page-scroll" href="#compare">
                        Compare<br />
                        <i class="fa fa-angle-double-down animated"></i>
                    </button>
                </div>
        </div>
    </section>

    <section id="compare" class="container-fluid content-section text-center" style="padding: 50px;">
        <div ng-show="viewModel.Likes.length > 0">
            <div class="row row-centered spacer">

                <h2 class="text-primary" style="margin:0px">click to compare</h2>

                <div>
                    <i class="carouselButton glyphicon glyphicon-chevron-left" ng-click="carouselIndex = carouselIndex-1"></i>
                    <i class="carouselButton glyphicon glyphicon-chevron-right" ng-click="carouselIndex = carouselIndex+1"></i>
                </div>
                <div class="col-lg-2 col-centered">
                    <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-transition="hexagon" class="myCarousel">
                        <li ng-click="selectToCompare($index)" ng-repeat="car in viewModel.Likes track by $index">
                            <div class="layer">
                                <a class="text-center">{{ car.FullName | limitTo: 40 }}{{car.FullName.length > 40 ? '...' : ''}}</a>
                                <i title="Remove from likes" ng-click="removeLike(car.Id)" class="glyphicon glyphicon-thumbs-down"></i>
                                <img alt="{{car.FullName}}" ng-src="{{car.Image}}" class="col-lg-9 img-responsive" />
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="row row-centered">

                <div ng-repeat="comparison in comparisons" class="col-lg-2 col-md-3 col-sm-6 col-centered">

                    <div class="carHeader">
                        <div class="text-primary compareTitle iffyTip" title="{{comparison.FullName}}">
                            {{comparison.FullName}}
                        </div>
                    </div>
                    <img alt="{{comparison.FullName}}" ng-src="{{comparison.Image}}" class="img-responsive" />
                    
                    <div class="performance">
                        <table>
                            <tr>
                                <td class="text-left">Price</td>
                                <td class="text-right" ng-show="comparison.Price > 0">{{comparison.Price | currency : "£" : 0}}</td>
                            </tr>
                            <tr>
                                <td class="text-left">0-60</td>
                                <td class="text-right">{{comparison.Acceleration}} secs</td>
                            </tr>
                            <tr>
                                <td class="text-left">Top Speed</td>
                                <td class="text-right">{{comparison.TopSpeed}} mph</td>
                            </tr>
                            <tr>
                                <td class="text-left">Power</td>
                                <td class="text-right">{{comparison.Power}} bhp</td>
                            </tr>
                            <tr>
                                <td class="text-left">Engine</td>
                                <td class="text-right">{{comparison.EngineSize}} cc</td>
                            </tr>
                            <tr>
                                <td class="text-left">Insurance</td>
                                <td class="text-right">{{comparison.InsuranceGroup}}</td>
                            </tr>
                            <tr>
                                <td class="text-left">Consumption</td>
                                <td class="text-right">{{comparison.Mpg}} mpg</td>
                            </tr>
                            <tr>
                                <td class="text-left">Boot</td>
                                <td class="text-right">{{comparison.LuggageCapacity}} litres</td>
                            </tr>
                            <tr>
                                <td class="text-left">Emissions</td>
                                <td class="text-right">{{comparison.Emissions}} g/km</td>
                            </tr>
                            <tr>
                                <td class="text-left">Read more</td>
                                <td class="text-right"><a href="{{comparison.ReviewPage}}" target="_blank">Parkers</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="viewModel.Likes.length < 1">
            <p>
                You haven't liked any cars yet so there's nothing to compare. 
                <br />
                Once you've liked a couple of cars, this section will allow you
            to choose which cars to compare.
            </p>
        </div>
    </section>

</div>


<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact us</h2>
            <p>Feel free to email us to provide some feedback, give us suggestions, or to just say hello!</p>
            <p>
                <a href="mailto:enquiry@mawbusinesssolutions.co.uk">enquiry@mawbusinesssolutions.co.uk</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/mawste" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a>
                </li>

                <li>
                    <a href="https://plus.google.com/112151541140544832241/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i><span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>What does it do?</h2>
            <p>
                We've collated data about all the cars currently available in the UK, both new and used.
            </p>
            <p>
                We serve images of cars that the system thinks you may like, and you simply tell us if you like it or not.
                We then begin to tailor the car suggestions based on your choices.  We hope to 
                suggest cars that you'll like and to narrow down to that perfect car for you.
            </p>
            <p>
                Once you've indicated a few cars you like, you can use the compare view to easily compare the details of the car such as performance,
                fuel consumption, emissions, boot size etc... to find the one car that meets your needs.
            </p>
            <p>
                This is currently in 'beta' which means we're still learning what works and what doesn't.  We really value your feedback to help
                us improve so please don't be shy and get in touch.
            </p>
        </div>
    </div>
</section>





