.currentCar
{
    margin: 0 0 35px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 30px;
}

.compareTitle
{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
}

.compareItem {
    margin: 10px;
    border: 1px #9f9f9f solid;
    height: 200px;
    width: 200px;
    padding:4px
}

.btn-circle-lg
{
    width: 130px;
    height: 130px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}
.carHeader {
    background-color: rgba(0,0,0,0.5);
    width:100%
}

.bg-cover {
    background-size: cover;
}

.btn-circle-like
{
    background-color: rgba(74, 255, 0, 0.2);
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
    padding-right: 0;
}

.btn-circle-like:hover,
.btn-circle-like:focus {
    outline: 0;
    color: #fff;
    background-color: rgba(71, 229, 7, 0.9);
}

.btn-circle-dislike
{
    background-color: rgba(255, 0, 0, 0.2);
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
    padding-right: 0;
}

.btn-circle-dislike:hover,
.btn-circle-dislike:focus {
    outline: 0;
    color: #fff;
    background-color: rgba(229, 7, 7, 0.9);
}

.btn-circle-compare
{
    background-color: rgba(0, 29, 255, 0.2);
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
    padding-right: 0;
    margin-bottom: 75px;
}

.btn-circle-compare:hover,
.btn-circle-compare:focus {
    outline: 0;
    color: #fff;
    background-color: rgba(0, 29, 255, 0.9);
}

.bg-dislike {
    background-color: rgba(229, 7, 7, 0.4);
}
.bgimage
{
    background-size: 100%;
    
}

.bgimage-inside {
    padding-top: 75%
}

.performance {
    margin-top: 20px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 2px solid #3d3d3d;
    border-radius: 10px;
    background-color: rgba(55, 54, 54, 0.4);
  
}
.performance td {
    padding: 10px;
}

.performance tr td:first-child {
    color:#7cbcf3
}

.iffyTip {
     overflow:hidden;
     white-space:nowrap;
     text-overflow:ellipsis;
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
    vertical-align: middle;
  }

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

 .layer { height:200px }

 .myCarousel{ height:300px }

 ul[rn-carousel] {
  width: 400px;
  height: 200px;
  margin: 0 auto;
}

 .spacer {
     margin-bottom: 50px;
 }

 .carouselButton {
     font-size: 40px;
     margin:10px
 }
