.currentCar
{
    margin: 0 0 35px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 30px;
}

.btn-circle-lg
{
    width: 130px;
    height: 130px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}
.carHeader {
    background-color: black;
    opacity: 0.5;
    width:100%
}